
sudo: required
language: java

jdk:
  - oraclejdk7
  - oraclejdk8



script:
  - mvn clean cobertura:cobertura -Dtest=Spdy3ConnectionTest#serverSendsSettingsToClient -DfailIfNoTests=false

before_deploy:
- tar -zcvf coverage-result.tar.gz /home/travis/build/leusonmario/okhttp/target/site/cobertura

deploy:
  provider: releases
  api_key:
    secure: "jk+nk8etycaCQqHaxe17e+qihrI/+K+TKxiBO3KpcOcAMQnBbcAuyUWNL1gGspbw8urUImfCDbK/ljmGEBf+Lg0Xhhm9dyPSCCz9hkDdBBlou2QPcDdSvdBUZfePewfpIWmX2FGa81cAN9SgPg5ZCgi0/7YPjQui10rujOVlf7TgRpdJUeMSNMPTEZaHX18YTc46shGOroFmQYMycCb/jP0kud0Y6E/3RvVx5ZB49EHuVHu1wsRsADE58zNYRHghK/kT7cWUsVBInbO05iPsI98wheBZIDRbnLWFLP47bmBIzqqySloy1wa1x1XzpSEXHRdOXQt2F9XF4+lh5ZIb0G/b/wgtS0P/GlkTL0ZYHsHpbF/9yJUIXKrH99Rs1ekxtNCDPTtJ7Cye/afkru4rDuWYEufPrBtGd6HX6JbUdYDM3r+N6sd5ycxothy8DfS0sZ579uI/i76YJv03ZTqixeAMT5gd2Ta96NhS69ydDyCABmbHL4BS17ADectNGKje41L14HBgWJkaMhI9+zlbN5KO9o4OjrFm2xVa/dwqkckdL14U6Dofw9Npn0ieeBLJQov0scP+WnQ5Koh6Td6fVpBWjUsgiqysUcsj/g1BSW8ogn15Ayo7EGRx68TFVtNPEpKuPtMepT6SnCZiYHURYhjyPqvIKS3HlQTTbrBcq2g="


  file: coverage-result.tar.gz
  file_glob: true
  overwrite: true
  skip_cleanup: true
  on:
    tags: true
